<div>
  <%= form_for(:digital, :url => admin_product_digitals_path(@product), :method => :create, :multipart => true ) do |f| %>
    <fieldset>
      <legend class="h4 pl-0">Add Items</legend>
      <% if variant.digital? %>
        <table class="table">
          <thead>
            <tr>
              <th><%= Spree.t(:file_name, scope: "spree_digital") %></th>
              <th>Item</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
          <% variant.digitals.each do |digital| %>
            <tr>
              <td><%= render digital %></td>
              <td><%= image_tag Rails.application.routes.url_helpers.rails_blob_path(digital.attachment, only_path: true), width: 30, height: 40 %></td>
              <td class="actions text-right">
                <%= link_to_with_icon 'delete', Spree.t(:delete_file, scope: 'digitals'), admin_product_digital_url(@product, digital), data: {confirm: Spree.t(:delete_file_confirmation, scope: 'digitals', filename: digital.attachment_file_name)}, method: :delete, class: 'btn btn-danger btn-sm delete-resource' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>

      <div class="form-group">
        <%= f.label :file, Spree.t(:add_new_file, scope: 'digitals') %> <span class="required">*</span><br/>
        <%= f.file_field :attachment %>
        <%= hidden_field_tag 'digital[variant_id]', variant.id %>
        <%= button Spree.t(:upload, scope: "spree_digital"), 'add', 'submit', { :class => "btn btn-primary" } %>
      </div>
    </fieldset>
  <% end %>
</div>
